/* Custom CSS to style the carousel indicators */
.carousel-indicators li {
    background-color: white; /* Set the background color */
    border-color: white; /* Set the border color */
    width: 20px !important;
height: 20px !important;
border-radius: 50% !important; 
}
.carousel-indicators{
    margin-left: -66% !important;
}
@media (max-width: 768px) {
.carousel-indicators {
    margin-left: -44% !important;
}
.hero .hero-img-wrap img {
    width: 310px !important;
}
.about{
    background-image: url('images/bg.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh !important; /* Adjust the height as needed */
}
.main{
    background-image: url('images/bg.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh !important; /* Adjust the height as needed */
}
.main::before {
content: ""; /* Add content for the pseudo-element */
position: absolute; /* Position the overlay */
top: 0;
left: 0;
width: 100%;
height: 8% !important;
background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}
.dashboard-social-bar{
display: none !important;
}
}

/* Custom CSS for the active indicator */
.carousel-indicators .active {
    background-color: white; /* Set the background color for the active indicator */
}
.main{
    background-image: url('../images/bg.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    height: 98vh; /* Adjust the height as needed */
}

.about{
    background-image: url('../images/about.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    height: 66vh;
    background-size: cover;
}

.about::before {
    content: ""; /* Add content for the pseudo-element */
    position: absolute; /* Position the overlay */
    top: 0;
    left: 0;
    width: 100%;
    height: 13%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    }

.main::before {
content: ""; /* Add content for the pseudo-element */
position: absolute; /* Position the overlay */
top: 0;
left: 0;
width: 100%;
height: 13%;
background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}
.dashboard-social-bar .navbar-nav {
display: flex;
justify-content: flex-end; /* Align items to the right */
align-items: center; /* Center items vertically */
}

.dashboard-social-bar .nav-link {
margin-left: 15px; /* Adjust spacing between items */
}

.dashboard-social-bar .nav-link:first-child {
margin-left: 0; /* Remove left margin from the first child */
}
.text-top-bar{
color: #ffffff !important;
}
.hero .intro-excerpt h1{
max-width: auto !important;
}